.container {
    max-width: 400px !important;
    height: 70%;
    border: solid 2px #666666;
    margin-top: 4%;
}

.set-icons {
    border: none;
    width: 95%;
    height: 3%;
    border-radius: 15px;
    display: inline-block;
    background-color: lightgray;
    margin-top: 1%;
    margin-left: 2.5%;
}

.group-top {
    border-bottom: solid 1px #808080;
}

.group-top > p {
    font-family: Tahoma, Geneva, sans-serif;
    color: #808080;
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 5%;
    text-align: center;
    margin-left: 8%;
}

.create {
    color: #8c8c8c;
    font-size: 15px;
    font-weight: lighter;
    float:right;
    margin-right: 3%;
}

.create:hover,
.create:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.custom-select {
    margin-top: 5%;
    margin-left: 3%;
    position: relative;
    font-family: Tahoma, Geneva, sans-serif;
}

.user-pic {
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    border: solid 1px #808080;
    display: inline-block;
}

.user-name {
    display: inline-block;
    margin-left: 5%;
    position: relative;
    top: -20px;

    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 10;
    color: #808080;
    font-size: 16px;
}

.add {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: solid 1px #808080;
    margin-left: 40%;
    background-color: white;
    position: relative;
    top: -14px;
}

.add:hover,
.add:focus {
    background-color: #666666;
}

.gchat-container {
    display: none;
    z-index: 1;
    max-width: 400px !important;
    height: 70%;
    border: solid 2px #000;
    margin-top: 4%;
}

.gchat-top {
    border-radius: 15px;
    width: 95%;
    height: 50px;
    margin: auto;
    margin-top: 2%;
    border: solid 1px #666666;
}

.gchat-profile {
    border: solid 1px #666666;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block;

    background-image: url('/user_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gchat-top > p {
    font-family: Tahoma, Geneva, sans-serif;
    color: #808080;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    left: 10px;
    top: 1px;
    display: inline-block;
}

.gchat-icons {
    height: 30px;
    width: 40px;
    border: solid 1px #666666;
    border-radius: 18px;
    display: inline-block;

    position: relative;
    top: 9px;
    float: right;
    margin-right: 1%;
}

.gchat-background {
    background-color: #e6e6e6;

    height: 68%;
    width: 95%;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    border: none;
}

.gchat-background > p {
    color: #666666;
    font-size: 11px;
    position: fixed;
    top: 250px;
    left: 180px;
    
}

.gchat-chatbox-1{
    background-color: #ffffff;
    border-radius: 15px;
    border: solid 1px #666666;
    display: block;

    width: 40%;
    height: 50px;
    float: right;
    margin-right: 2%;
    position: relative;
    bottom: -200px;
}

.gchat-chatbox-1 > p {
    color: #666666;
    text-align: center;
    font-size: 12px;

    position: relative;
    top: 5px;
}

.gchat-chatbox-2{
    background-color: #ffffff;
    border-radius: 15px;
    border: solid 1px #666666;
    display: block;

    width: 60%;
    height: 50px;
    float: right;
    margin-right: 2%;
    margin-top: 3%;
    position: relative;
    bottom: -200px;
}

.gchat-chatbox-2 > p {
    color: #666666;
    text-align: center;
    font-size: 12px;

    position: relative;
    top: 5px;
}

.gchat-bottom {
    border: none;
    width: 95%;
    height: 14%;
    border-radius: 10px;
    display: inline-block;
    background-color: lightgray;
    margin-top: 1%;
    margin-left: 2.5%;
}

.gchat-typebox {
    background-color: #ffffff;
    border: solid 1px #666666;
    width: 99.5%;
    height: 45%;
    border-radius: 15px;

    margin-top: 3%;
}

.gchat-type {
    background-color: #ffffff;
    border: solid 1px #666666;
    width: 80%;
    height: 80%;
    border-radius: 15px;

    margin-top: 0.5%;
    margin-left: 10%;
    display: inline-block;

}

.gchat-type textarea {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background: #fff;
    resize: none;

    
}

.gchat-type textarea:focus {
    background-color: #fff;
    outline: none;
}


.compress:hover,
.compress:focus {
    text-decoration: none;
    cursor: pointer;
}

.compressed {
    display: none;
    border-radius: 15px;
    border: none;
    background-color: #8c8c8c;
    width: 5%;
    height: 10%;

    position: fixed;
    
}

.compressed:hover,
.compressed:focus {
    cursor: pointer;
}

.compressed-profile {
    border: solid 1px #666666;
    
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    background-color: #fff;
    background-image: url('/user_icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}